

body{margin: 0px;}

/* box container */
.box{
    display: flex;
    margin: 0px;
    background-color: rgb(226, 206, 26);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}


/*  box conteudos */
.box-main{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 60vh;
    justify-content: space-between;
}


/* box login  */
.box-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(54, 50, 10);
    text-align: center;
    width: 35%;
    color: white;
    border-radius: 20px 0 0 20px;
}


/*  box cadastro */
.box-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(254, 250, 161);
    width: 65%;
    border-radius: 0 20px 20px 0;
}



/* botoes do login */
.button-enter{
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top: 80px;
    width: 100px;
}
.button-enter:hover{
    background-color: rgb(226, 206, 26);
}
.button-forget{
    color:white;
    font-family:sans-serif;
    font-size: 12px;
    text-decoration: none;
    margin-top: 30px;
}
.button-forget:hover{
    text-decoration: underline;
}

/* texto do login */
.box-login h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 230, 0);
}
.box-login h2{
    font-family: sans-serif;
    margin-top: 50px;
}
.box-login p{
    font-family: sans-serif;
    margin-top: 0;
    font-size: 15px;
}





/*  texto do cadastro*/
.box-cadastro h2{
    
    font-family: fantasy;
    font-size: 40px;
    margin-bottom: 2px;
}
.box-cadastro p{
    margin-top: 0%;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
.box-cadastro input{
    margin-bottom: 25px;
    width: 350px;
    border-radius: 10px;
    padding: 12px;
    border: none;
    background-color:rgb(189, 172, 23) ;
}
.enviar{
    border-radius: 50px;
    background-color: black;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    width: 150px;
    height: 45px;
    font-size: 15px; 
}
.enviar:hover{
    background-color:rgb(189, 172, 23) ;
    color: black;
    border: none;
    text-decoration: underline;
}


/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    
    .box-main{
        width: 100%;
    }
    .box-main h2{
        margin-top: 0px;
    }
    .box-cadastro input{
        width: 150px;
        margin-bottom: 3px;
    }
    .button-enter{
        margin-top: 0px;
    }
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
    .box-main{
        width: 90%;
        height: 70%;
    }
    .box-cadastro input{
        width: 320px;
        margin-bottom: 25px;
    }
    .button-enter{
        margin-top: 43px;
    }
    
    .box-cadastro h2{
        margin-top: 10px;
    }
}   

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
    .box-main{
        height: 70%;
    }
    .box-cadastro input{
        width: 400px;
    }
    .box-cadastro h2{
        margin-top: 18px;
    }
    .button-enter{
        margin-top: 68px;
    }
    .box-login h2{
        margin-top: px;
    }
}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
    .button-enter{
        margin-top: 107px;
    }
    .box-cadastro input{
        width: 480px;
    }
    .box-main{
        height: 68%;
    }
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
    .box-main{
        width: 70%;
        height: 68%;
    }
    .button-enter{
        margin-top: 104px;
    }
}

/* Notebooks grandes */
@media only screen and (min-width: 1440px){
    .box-main{
        width: 60%;
        height: 60%;
        
    }
    .button-enter{
        margin-top: 104px;
    }
}

@media only screen and (min-width: 1920px){
    .box-main{
        width: 50%;
        height:450px;
    }
    
}